nyu-scps-200703-J2EE-x52.9555/session9/demo9/dom/Address.xsd

<?xml version="1.0" encoding="UTF-8"?><schema targetNamespace="http://www.nyu.edu/jws/Address" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:addr="http://www.nyu.edu/jws/Address">	<attribute name="language" type="string"/>	<element name="address">		<complexType>			<sequence>				<element name="name" type="string"/>				<element name="street" type="string"/>				<element name="city" type="string"/>				<element name="state" type="string"/>				<element name="zip" type="string"/>			</sequence>			<attribute name="category" type="string"/>			<attribute ref="addr:language"/>		</complexType>	</element></schema>