nyu-scps-201201-Java2-x52.9271-archive/java2_session4/java2_demo4/dtd_vs_schema/note.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nyu.edu/scps/jpi/session10" xmlns="http://www.nyu.edu/scps/jws">
	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="to" type="xs:string"/>
				<xs:element name="from" type="xs:string"/>
				<xs:element name="heading" type="xs:string"/>
				<xs:element name="body" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
